Main/pkgs/Wadl/fa_answer_tracking_report.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="fa_answer_tracking_report" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="fa_answer_tracking_report" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <integer name="ManualTriggerInput_Executestoredprocedure_ux28_V2_ux29__param_plant_id_in_def" />
      <string name="ManualTriggerInput_FormNumber_Value_def" />
      <string name="ManualTriggerInput_ReportDate_Value_def" />
      <object name="ManualTriggerInput">
        <property name="Executestoredprocedure(V2)_param_plant_id_in" type="integer" />
        <property name="FormNumber_Value" type="string" />
        <property name="ReportDate_Value" type="string" />
      </object>
      <integer name="ResponseActionOutput_items_def_fat_plant_id_in_def" />
      <string name="ResponseActionOutput_items_def_fat_form_number_vc_def" />
      <string name="ResponseActionOutput_items_def_fat_report_date_dt_def" />
      <integer name="ResponseActionOutput_items_def_fat_question_pos_in_def" />
      <string name="ResponseActionOutput_items_def_fat_question_description_vc_def" />
      <string name="ResponseActionOutput_items_def_fat_question_answer_vc_def" />
      <string name="ResponseActionOutput_items_def_fat_change_datetime_dt_def" />
      <string name="ResponseActionOutput_items_def_fat_change_reason_vc_def" />
      <string name="ResponseActionOutput_items_def_fat_record_type_vc_def" />
      <integer name="ResponseActionOutput_items_def_fat_user_id_bin_def" />
      <integer name="ResponseActionOutput_items_def_fat_report_date_in_def" />
      <integer name="ResponseActionOutput_items_def_Expr1_def" />
      <string name="ResponseActionOutput_items_def_usr_email_vc_def" />
      <integer name="ResponseActionOutput_items_def_fat_child_pos_in_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="fat_plant_id_in" type="integer" />
        <property name="fat_form_number_vc" type="string" />
        <property name="fat_report_date_dt" type="string" />
        <property name="fat_question_pos_in" type="integer" />
        <property name="fat_question_description_vc" type="string" />
        <property name="fat_question_answer_vc" type="string" />
        <property name="fat_change_datetime_dt" type="string" />
        <property name="fat_change_reason_vc" type="string" />
        <property name="fat_record_type_vc" type="string" />
        <property name="fat_user_id_bin" type="integer" />
        <property name="fat_report_date_in" type="integer" />
        <property name="Expr1" type="integer" />
        <property name="usr_email_vc" type="string" />
        <property name="fat_child_pos_in" type="integer" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Executestoredprocedure(V2)_param_plant_id_in" path="/Executestoredprocedure(V2)_param_plant_id_in" type="xs:long" required="true" />
            <param style="plain" name="FormNumber_Value" path="/FormNumber_Value" type="xs:string" required="true" />
            <param style="plain" name="ReportDate_Value" path="/ReportDate_Value" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>