Main/pkgs/Wadl/fa_AnswerReport_Opt.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="fa_AnswerReport_Opt" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="fa_AnswerReport_Opt" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Email_Value_def" />
      <string name="ManualTriggerInput_Array_Value_def" />
      <string name="ManualTriggerInput_FormNumber_Value_def" />
      <string name="ManualTriggerInput_ReportDate_Value_def" />
      <integer name="ManualTriggerInput_Executestoredprocedure_ux28_V2_ux29__param_form_type_in_def" />
      <integer name="ManualTriggerInput_Executestoredprocedure_ux28_V2_ux29__param_EmisorReceptor_Stage_in_def" />
      <string name="ManualTriggerInput_RecordDate_Value_def" />
      <integer name="ManualTriggerInput_varActiveLevel_Value_def" />
      <string name="ManualTriggerInput_varFinalLevel_Value_def" />
      <object name="ManualTriggerInput">
        <property name="Email_Value" type="string" />
        <property name="Array_Value" type="string" />
        <property name="FormNumber_Value" type="string" />
        <property name="ReportDate_Value" type="string" />
        <property name="Executestoredprocedure(V2)_param_form_type_in" type="integer" />
        <property name="Executestoredprocedure(V2)_param_EmisorReceptor_Stage_in" type="integer" />
        <property name="RecordDate_Value" type="string" />
        <property name="varActiveLevel_Value" type="integer" />
        <property name="varFinalLevel_Value" type="string" />
      </object>
      <integer name="ResponseActionOutput_items_def_ResponseID_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="ResponseID" type="integer" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Email_Value" path="/Email_Value" type="xs:string" required="true" />
            <param style="plain" name="Array_Value" path="/Array_Value" type="xs:string" required="true" />
            <param style="plain" name="FormNumber_Value" path="/FormNumber_Value" type="xs:string" required="true" />
            <param style="plain" name="ReportDate_Value" path="/ReportDate_Value" type="xs:string" required="true" />
            <param style="plain" name="Executestoredprocedure(V2)_param_form_type_in" path="/Executestoredprocedure(V2)_param_form_type_in" type="xs:long" required="true" />
            <param style="plain" name="Executestoredprocedure(V2)_param_EmisorReceptor_Stage_in" path="/Executestoredprocedure(V2)_param_EmisorReceptor_Stage_in" type="xs:long" required="true" />
            <param style="plain" name="RecordDate_Value" path="/RecordDate_Value" type="xs:string" required="true" />
            <param style="plain" name="varActiveLevel_Value" path="/varActiveLevel_Value" type="xs:long" required="true" />
            <param style="plain" name="varFinalLevel_Value" path="/varFinalLevel_Value" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>