Main/pkgs/Wadl/fa_request_report.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="fa_request_report" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="fa_request_report" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <integer name="ManualTriggerInput_Executestoredprocedure_ux28_V2_ux29__param_plant_id_in_def" />
      <string name="ManualTriggerInput_FormNumber_Value_def" />
      <boolean name="ManualTriggerInput_Executestoredprocedure_ux28_V2_ux29__param_view_choice_def" />
      <object name="ManualTriggerInput">
        <property name="Executestoredprocedure(V2)_param_plant_id_in" type="integer" />
        <property name="FormNumber_Value" type="string" />
        <property name="Executestoredprocedure(V2)_param_view_choice" type="boolean" />
      </object>
      <integer name="ResponseActionOutput_items_def_fr_planta_id_in_def" />
      <string name="ResponseActionOutput_items_def_fr_form_number_vc_def" />
      <string name="ResponseActionOutput_items_def_fr_reportdate_dt_def" />
      <integer name="ResponseActionOutput_items_def_fr_assignedby_in_def" />
      <integer name="ResponseActionOutput_items_def_fr_status_in_def" />
      <string name="ResponseActionOutput_items_def_fr_assigned_dt_def" />
      <string name="ResponseActionOutput_items_def_fr_completed_dt_def" />
      <string name="ResponseActionOutput_items_def_user_dispname_vc_def" />
      <string name="ResponseActionOutput_items_def_usr_email_vc_def" />
      <string name="ResponseActionOutput_items_def_fa_report_date_dt_def" />
      <string name="ResponseActionOutput_items_def_createdby_dispname_def" />
      <string name="ResponseActionOutput_items_def_createdby_email_def" />
      <integer name="ResponseActionOutput_items_def_fq_question_type_bt_def" />
      <string name="ResponseActionOutput_items_def_Share_def" />
      <integer name="ResponseActionOutput_items_def_fr_reportdate_in_def" />
      <string name="ResponseActionOutput_items_def_PO_def" />
      <integer name="ResponseActionOutput_items_def_fr_active_level_def" />
      <integer name="ResponseActionOutput_items_def_fr_total_level_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="fr_planta_id_in" type="integer" />
        <property name="fr_form_number_vc" type="string" />
        <property name="fr_reportdate_dt" type="string" />
        <property name="fr_assignedby_in" type="integer" />
        <property name="fr_status_in" type="integer" />
        <property name="fr_assigned_dt" type="string" />
        <property name="fr_completed_dt" type="string" />
        <property name="user_dispname_vc" type="string" />
        <property name="usr_email_vc" type="string" />
        <property name="fa_report_date_dt" type="string" />
        <property name="createdby_dispname" type="string" />
        <property name="createdby_email" type="string" />
        <property name="fq_question_type_bt" type="integer" />
        <property name="Share" type="string" />
        <property name="fr_reportdate_in" type="integer" />
        <property name="PO" type="string" />
        <property name="fr_active_level" type="integer" />
        <property name="fr_total_level" type="integer" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Executestoredprocedure(V2)_param_plant_id_in" path="/Executestoredprocedure(V2)_param_plant_id_in" type="xs:long" required="true" />
            <param style="plain" name="FormNumber_Value" path="/FormNumber_Value" type="xs:string" required="true" />
            <param style="plain" name="Executestoredprocedure(V2)_param_view_choice" path="/Executestoredprocedure(V2)_param_view_choice" type="xs:boolean" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>