Main/pkgs/Wadl/lb_approval_acquire.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="lb_approval_acquire" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="lb_approval_acquire" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_spapprovalacquire_param_approval_comment_vc_def" />
      <string name="ManualTriggerInput_spapprovalacquire_param_approval_datetime_dt_def" />
      <string name="ManualTriggerInput_spapprovalacquire_param_approval_email_vc_def" />
      <string name="ManualTriggerInput_spapprovalacquire_param_approval_event_vc_def" />
      <string name="ManualTriggerInput_spapprovalacquire_param_approval_status_vc_def" />
      <string name="ManualTriggerInput_spapprovalacquire_param_process_order_in_def" />
      <integer name="ManualTriggerInput_spapprovalacquire_param_request_version_tin_def" />
      <object name="ManualTriggerInput">
        <property name="spapprovalacquire_param_approval_comment_vc" type="string" />
        <property name="spapprovalacquire_param_approval_datetime_dt" type="string" />
        <property name="spapprovalacquire_param_approval_email_vc" type="string" />
        <property name="spapprovalacquire_param_approval_event_vc" type="string" />
        <property name="spapprovalacquire_param_approval_status_vc" type="string" />
        <property name="spapprovalacquire_param_process_order_in" type="string" />
        <property name="spapprovalacquire_param_request_version_tin" type="integer" />
      </object>
      <string name="ResponseActionOutput_items_def_sp_response_vc_def" />
      <integer name="ResponseActionOutput_items_def_sp_response_in_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="sp_response_vc" type="string" />
        <property name="sp_response_in" type="integer" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="spapprovalacquire_param_approval_comment_vc" path="/spapprovalacquire_param_approval_comment_vc" type="xs:string" required="true" />
            <param style="plain" name="spapprovalacquire_param_approval_datetime_dt" path="/spapprovalacquire_param_approval_datetime_dt" type="xs:string" required="true" />
            <param style="plain" name="spapprovalacquire_param_approval_email_vc" path="/spapprovalacquire_param_approval_email_vc" type="xs:string" required="true" />
            <param style="plain" name="spapprovalacquire_param_approval_event_vc" path="/spapprovalacquire_param_approval_event_vc" type="xs:string" required="true" />
            <param style="plain" name="spapprovalacquire_param_approval_status_vc" path="/spapprovalacquire_param_approval_status_vc" type="xs:string" required="true" />
            <param style="plain" name="spapprovalacquire_param_process_order_in" path="/spapprovalacquire_param_process_order_in" type="xs:string" required="true" />
            <param style="plain" name="spapprovalacquire_param_request_version_tin" path="/spapprovalacquire_param_request_version_tin" type="xs:long" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>