Main/pkgs/Wadl/lb_approval_detail.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="lb_approval_detail" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="lb_approval_detail" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_ProcessOrder_Value_def" />
      <integer name="ManualTriggerInput_Ejecutarprocedimientoalmacenado_ux28_V2_ux29__param_request_version_tin_def" />
      <object name="ManualTriggerInput">
        <property name="ProcessOrder_Value" type="string" />
        <property name="Ejecutarprocedimientoalmacenado(V2)_param_request_version_tin" type="integer" />
      </object>
      <integer name="ResponseActionOutput_items_def_lr_plant_id_in_def" />
      <string name="ResponseActionOutput_items_def_lr_process_order_in_def" />
      <integer name="ResponseActionOutput_items_def_lr_request_version_tin_def" />
      <string name="ResponseActionOutput_items_def_lr_request_user_email_vc_def" />
      <string name="ResponseActionOutput_items_def_lr_request_date_dt_def" />
      <string name="ResponseActionOutput_items_def_lr_request_inserted_dt_def" />
      <string name="ResponseActionOutput_items_def_lr_request_comment_vc_def" />
      <string name="ResponseActionOutput_items_def_la_approval_user_email_vc_def" />
      <string name="ResponseActionOutput_items_def_la_approval_status_vc_def" />
      <string name="ResponseActionOutput_items_def_la_approval_result_vc_def" />
      <string name="ResponseActionOutput_items_def_la_approval_adquired_dt_def" />
      <string name="ResponseActionOutput_items_def_la_approval_response_dt_def" />
      <string name="ResponseActionOutput_items_def_la_approval_completed_dt_def" />
      <string name="ResponseActionOutput_items_def_la_approval_comment_vc_def" />
      <string name="ResponseActionOutput_items_def_la_approval_dbadquired_dt_def" />
      <string name="ResponseActionOutput_items_def_la_approval_dbresponse_dt_def" />
      <string name="ResponseActionOutput_items_def_la_approval_dbcompleted_dt_def" />
      <string name="ResponseActionOutput_items_def_la_approvalpt_dt_def" />
      <string name="ResponseActionOutput_items_def_la_approvalpt_comment_vc_def" />
      <string name="ResponseActionOutput_items_def_la_approvalpt_user_email_vc_def" />
      <string name="ResponseActionOutput_items_def_sp_response_vc_def" />
      <integer name="ResponseActionOutput_items_def_sp_response_in_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="lr_plant_id_in" type="integer" />
        <property name="lr_process_order_in" type="string" />
        <property name="lr_request_version_tin" type="integer" />
        <property name="lr_request_user_email_vc" type="string" />
        <property name="lr_request_date_dt" type="string" />
        <property name="lr_request_inserted_dt" type="string" />
        <property name="lr_request_comment_vc" type="string" />
        <property name="la_approval_user_email_vc" type="string" />
        <property name="la_approval_status_vc" type="string" />
        <property name="la_approval_result_vc" type="string" />
        <property name="la_approval_adquired_dt" type="string" />
        <property name="la_approval_response_dt" type="string" />
        <property name="la_approval_completed_dt" type="string" />
        <property name="la_approval_comment_vc" type="string" />
        <property name="la_approval_dbadquired_dt" type="string" />
        <property name="la_approval_dbresponse_dt" type="string" />
        <property name="la_approval_dbcompleted_dt" type="string" />
        <property name="la_approvalpt_dt" type="string" />
        <property name="la_approvalpt_comment_vc" type="string" />
        <property name="la_approvalpt_user_email_vc" type="string" />
        <property name="sp_response_vc" type="string" />
        <property name="sp_response_in" type="integer" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="ProcessOrder_Value" path="/ProcessOrder_Value" type="xs:string" required="true" />
            <param style="plain" name="Ejecutarprocedimientoalmacenado(V2)_param_request_version_tin" path="/Ejecutarprocedimientoalmacenado(V2)_param_request_version_tin" type="xs:long" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>