Main/pkgs/Wadl/nf_build_table.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="nf_build_table" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="nf_build_table" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_ParamString_Value_def" />
      <object name="ManualTriggerInput">
        <property name="ParamString_Value" type="string" />
      </object>
      <string name="ResponseActionOutput_items_def_Row_Index_def" />
      <string name="ResponseActionOutput_items_def_Cell_Row_def" />
      <string name="ResponseActionOutput_items_def_Cell_Column_def" />
      <string name="ResponseActionOutput_items_def_Cell_Index_def" />
      <string name="ResponseActionOutput_items_def_Cell_Type_def" />
      <string name="ResponseActionOutput_items_def_Cell_DefaultValue_def" />
      <string name="ResponseActionOutput_items_def_Cell_Mode_def" />
      <string name="ResponseActionOutput_items_def_IsRequired_def" />
      <string name="ResponseActionOutput_items_def_Choices_def" />
      <string name="ResponseActionOutput_items_def_Levels_def" />
      <string name="ResponseActionOutput_items_def_StringConfig_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="Row_Index" type="string" />
        <property name="Cell_Row" type="string" />
        <property name="Cell_Column" type="string" />
        <property name="Cell_Index" type="string" />
        <property name="Cell_Type" type="string" />
        <property name="Cell_DefaultValue" type="string" />
        <property name="Cell_Mode" type="string" />
        <property name="IsRequired" type="string" />
        <property name="Choices" type="string" />
        <property name="Levels" type="string" />
        <property name="StringConfig" type="string" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="ParamString_Value" path="/ParamString_Value" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>