Main/pkgs/Wadl/nf_submit_flag.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="nf_submit_flag" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="nf_submit_flag" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Event_Value_def" />
      <string name="ManualTriggerInput_FormNumber_Value_def" />
      <integer name="ManualTriggerInput_Executestoredprocedure_ux28_V2_ux29__param_plant_id_in_def" />
      <string name="ManualTriggerInput_ReportDate_Value_def" />
      <string name="ManualTriggerInput_Initializevariable_Value_def" />
      <integer name="ManualTriggerInput_Executestoredprocedure_ux28_V2_ux29__param_user_type_def" />
      <object name="ManualTriggerInput">
        <property name="Event_Value" type="string" />
        <property name="FormNumber_Value" type="string" />
        <property name="Executestoredprocedure(V2)_param_plant_id_in" type="integer" />
        <property name="ReportDate_Value" type="string" />
        <property name="Initializevariable_Value" type="string" />
        <property name="Executestoredprocedure(V2)_param_user_type" type="integer" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Event_Value" path="/Event_Value" type="xs:string" required="true" />
            <param style="plain" name="FormNumber_Value" path="/FormNumber_Value" type="xs:string" required="true" />
            <param style="plain" name="Executestoredprocedure(V2)_param_plant_id_in" path="/Executestoredprocedure(V2)_param_plant_id_in" type="xs:long" required="true" />
            <param style="plain" name="ReportDate_Value" path="/ReportDate_Value" type="xs:string" required="true" />
            <param style="plain" name="Initializevariable_Value" path="/Initializevariable_Value" type="xs:string" required="true" />
            <param style="plain" name="Executestoredprocedure(V2)_param_user_type" path="/Executestoredprocedure(V2)_param_user_type" type="xs:long" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>