Main/pkgs/Wadl/nf_Update_Form_Requestv2.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="nf_Update_Form_Requestv2" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="nf_Update_Form_Requestv2" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <integer name="ManualTriggerInput_Initializevariable_Value_def" />
      <string name="ManualTriggerInput_Initializevariable2_Value_def" />
      <string name="ManualTriggerInput_Initializevariable3_Value_def" />
      <integer name="ManualTriggerInput_Initializevariable4_Value_def" />
      <integer name="ManualTriggerInput_Initializevariable5_Value_def" />
      <string name="ManualTriggerInput_Initializevariable6_Value_def" />
      <object name="ManualTriggerInput">
        <property name="Initializevariable_Value" type="integer" />
        <property name="Initializevariable2_Value" type="string" />
        <property name="Initializevariable3_Value" type="string" />
        <property name="Initializevariable4_Value" type="integer" />
        <property name="Initializevariable5_Value" type="integer" />
        <property name="Initializevariable6_Value" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Initializevariable_Value" path="/Initializevariable_Value" type="xs:long" required="true" />
            <param style="plain" name="Initializevariable2_Value" path="/Initializevariable2_Value" type="xs:string" required="true" />
            <param style="plain" name="Initializevariable3_Value" path="/Initializevariable3_Value" type="xs:string" required="true" />
            <param style="plain" name="Initializevariable4_Value" path="/Initializevariable4_Value" type="xs:long" required="true" />
            <param style="plain" name="Initializevariable5_Value" path="/Initializevariable5_Value" type="xs:long" required="true" />
            <param style="plain" name="Initializevariable6_Value" path="/Initializevariable6_Value" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>