Main/pkgs/Wadl/User_Language.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="User_Language" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="User_Language" />
  <grammars>
    <jsonTypes targetNamespace="https://unitedstates-002.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Executestoredprocedure_ux28_V2_ux29__param_email_vc_def" />
      <string name="ManualTriggerInput_Executestoredprocedure_ux28_V2_ux29__param_event_vc_def" />
      <string name="ManualTriggerInput_Executestoredprocedure_ux28_V2_ux29__param_language_vc_def" />
      <object name="ManualTriggerInput">
        <property name="Executestoredprocedure(V2)_param_email_vc" type="string" />
        <property name="Executestoredprocedure(V2)_param_event_vc" type="string" />
        <property name="Executestoredprocedure(V2)_param_language_vc" type="string" />
      </object>
      <integer name="ResponseActionOutput_items_def_usr_id_bin_def" />
      <string name="ResponseActionOutput_items_def_usr_email_vc_def" />
      <integer name="ResponseActionOutput_items_def_usr_plant_in_def" />
      <string name="ResponseActionOutput_items_def_user_applang_vc_def" />
      <string name="ResponseActionOutput_items_def_user_dispname_vc_def" />
      <string name="ResponseActionOutput_items_def_sp_response_vc_def" />
      <integer name="ResponseActionOutput_items_def_sp_response_in_def" />
      <object name="ResponseActionOutput_items_def">
        <property name="usr_id_bin" type="integer" />
        <property name="usr_email_vc" type="string" />
        <property name="usr_plant_in" type="integer" />
        <property name="user_applang_vc" type="string" />
        <property name="user_dispname_vc" type="string" />
        <property name="sp_response_vc" type="string" />
        <property name="sp_response_in" type="integer" />
      </object>
      <array typeRef="ResponseActionOutput_items_def" name="ResponseActionOutput" />
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://unitedstates-002.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Executestoredprocedure(V2)_param_email_vc" path="/Executestoredprocedure(V2)_param_email_vc" type="xs:string" required="true" />
            <param style="plain" name="Executestoredprocedure(V2)_param_event_vc" path="/Executestoredprocedure(V2)_param_event_vc" type="xs:string" required="true" />
            <param style="plain" name="Executestoredprocedure(V2)_param_language_vc" path="/Executestoredprocedure(V2)_param_language_vc" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>